nav {
    display: flex;
    justify-content: space-between;   
    border: 3px; 
    border-color: green;
    gap: 70px;
    padding: 10px;
}
nav img{
    width: 120px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

a {
    text-decoration: none;
    width: 100px;
    height: 40px;
    margin-top: 14px;
    text-align: center;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-top: 7px;
    margin-right: 20px;
    margin-left: auto;
}