nav {
    display: flex;
    justify-content: space-between;   
    border: 3px; 
    border-color: green;
    gap: 70px;
}
nav img{
    width: 150px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;

}

a {
    text-decoration: none;
    color: black;
    width: 60px;
    height: 40px;
    margin-top: 14px;
    text-align: center;
}

.button {
    background-color: rgb(5, 141, 254);
    color: white;
    border-radius: 10px;
    margin-top: 7px;
    margin-right: 20px;
    margin-left: auto;
}

#loaded {
    color: blue;
    border-bottom: 3px solid rgb(128, 189, 255) ;
}